doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Afful Godfred
		link(rel="stylesheet", href="preloader.css")
		link(rel="stylesheet", href="style.css")
		link(rel="shortcut icon", href="./images/icons/mpatapo.png", type="image/png")
		// Jquery min src module
		script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js")

	body 
		#preloader
			.preloader-content
				strong.min0 0
				strong.sec 0
				strong.milli.js 0

			span loading ...

		script. 
			let loader = 0;

			function preloader() {
				setTimeout(() => {

					loader+= loader < 85 ? ((Math.floor(Math.random() * 5)) + 1) : 1

					$('#preloader strong.milli').text(/\d$/g.exec(loader))
					loader > 9 && $('#preloader strong.sec').text(/\d/.exec(loader))
					if ($("#preloader .milli").hasClass('js')) {
						$('#preloader .milli').attr('class', 'milli cls')
					} else {
						$('#preloader .milli').attr('class', 'milli js')
					}
					loader < 99 ? preloader() : $('#preloader').addClass('js')
					loader == 99 && $('#preloader .milli').attr('class','milli')
				}, 20)
			}
			preloader()

		main 

			section#profile-section

				hr
				.profile-back
					.profile-img
						img(src="images/legen.webp")

				.profile-text

					.name-available
						h1 Afful Godfred 
						.available 
							.available-pulse
							span Available

					h2.reported Reported Addicted to Website development
					h2.coding-junky 
						div coding 
						div #junky

				.scroll-down
					.scroll-back
						//- svg(icon="chevrons-down")
						svg(viewBox="0 0 46 15" xmlns="http://www.w3.org/2000/svg")
							path.curve
							path 
							path.chevron



			section#sites-section
				.my-sites 
					.healables-site 
						img(src="./images/grapics/Screenshot_Hair Heal.webp")
						p healables.pages.dev | created on 





		#top-floats 
			.contact-opener( modal="contact-menu")
				svg(icon="phone")

			#contact-menu 
				.contact-content 

					.telegram 
						svg(icon="brand-telegram")
						//- span Telegram

					.call 
						svg(icon="phone")
						//- span Call | Send me sms

					.gmail 
						svg(icon="mail")
						//- span Send me a mail.

					.github
						svg(icon="brand-github")
						//- span Check out my repos 

				#dark
					.dark-back
						svg(icon="moon-stars").dm
							defs
								linearGradient#Gradient1
									stop(class="stop1" offset="0%")
									stop(class="stop2" offset="50%")
									stop(class="stop3" offset="100%")

				.close 
					svg(close="contact-menu", icon="x")


			.hamburger(modal="menu")
				svg(icon="menu")

			#menu


		#bottom-floats
			#cookies-policy
				div
					svg(icon="cookie")
					span This site stores cookies on your device.

				svg(icon="x" close="bottom-floats")

		footer
			// Automatic Model creator. 
			script(type="module", src="https://cdn.jsdelivr.net/gh/legen07/auto-model@main/auto-model.js")
			// IconStable 
			script(type="module", src="https://cdn.jsdelivr.net/gh/legen07/iconstable@main/icons-table.js")
			// My main script
			script(src="./app.js")