// import url(./__global.scss);
@import "./components/__globals.scss";
@import './components/__mixin.scss';
@import './components/__variables.scss';


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
	background-color: snow;
	@include place-center;
	max-width: 100dvw;

	scrollbar-width: 0;
}

body::-webkit-scrollbar {
	display: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
}

.contact-opener {
	position: absolute;
	top: 1rem;
	left: 1rem;
	aspect-ratio: 1;
	background-color: var(--bean);
	padding: 1rem;
	border-radius: .6rem 1rem 40% 1rem;
	color: #fff;
	// overflow: hidden;

	&::after {
		// content: '';
		display: flex;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-33%, -44%) rotate(45deg);
		z-index: -1;
		height: calc(var(--contact-hypotenuse) );
		// height: 100%;
		background-color: var(--bean);
		border-radius: 2.1rem 120% 120% 1.5rem;
		// height: 4rem;
		// margin-right: 3rem;
		width: 1.8rem;
	}
}

#contact-menu {
	visibility: hidden;
	width: 300px;
	aspect-ratio: 1;
	transform: scale(10%) translate(-200%, -200%);		

	&.js {
		visibility: visible;
		transform: scale(100%);		

		.contact-content {
			opacity: 1;
		}
	}

	div:has(> svg):not(.close) {
		display: grid;
		place-content: center;
		// border: solid 1px;
		background-color: #fff1;
		border-radius: .2rem;
		aspect-ratio: 1;

		&:nth-child(4) {
			border-bottom-right-radius: 3rem;
		}
	}
	
	.contact-content {
		display: grid;
			grid-template-columns: 40% 40%;
			gap: .4rem;
		background-color: var(--cosmos);
		height: 100%;
		color: #fff;
		opacity: 0;
		padding: 2rem;
		max-width: 700px;
		border-radius: 0 0 50% 0;
		align-content: start;
		box-sizing: content-box;
		position: relative;
		box-shadow: 0 25px 25px -20px #0005;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			width: 9rem;
			height: 100%;
			background-color: var(--cosmos);
			border-radius: 0 0 60% 0;
			transform: rotate(13deg) translate(1rem, -2rem);
			z-index: -1;
			box-shadow: 8px 0 10px -3px #0005;
		}
	}

	.close {
		position: absolute;
		top: 2rem;
		right: 0;
		color: #fff;
	}
}

.hamburger {
	position: absolute;
	display: block;
	top: 1rem;
	right: 4rem;
	
	svg {
		width: 3rem;
		height: 3rem;
	}
}


#dark{
  background-color: #fff;
  width: 2rem;
  aspect-ratio: 1;
	position: absolute;
	bottom: 2rem;
	right: 60%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow:
    2px 2px 6px var(--white),
    -2px -2px 9px #999,
    inset -1px -1px 2px 1px #6666,
    inset 1px 1px 2px 1px var(--white)
  ;

  .dark-back{
    display: grid;
    place-items: center;
    box-shadow: 
      inset 5px 5px 15px #0006
    ;
    border-radius: 50%;
    width: 100%;
    height: 100%;

      svg.js{
        transform: translate(.5rem) scale(80%) rotate(190deg);
        animation: sunrise 100ms linear alternate 1 forwards;
      }

    @keyframes sunrise {
      to{
        opacity: 1;
        transform:rotate(360deg);
      }
    }
    
    svg{
      stroke-width: 1px;
      stroke: url(#Gradient1);

      .stop1 { stop-color: red; }
      .stop2 { stop-color: black;}
      .stop3 { stop-color: blue; }
    }
    
    svg[icon='brightness-down'] {
      stroke-width: 2px;
      .stop1 { stop-color: goldenrod; }
      .stop2 { stop-color: black;}
      .stop3 { stop-color: blue; }
      
      path:not(:nth-child(9)){
        stroke: #000;
      }

      path:nth-child(2){
        stroke: rgb(161, 115, 0)
      }
      path:nth-child(3){
        stroke: rgb(137, 99, 2)
      }
      path:nth-child(1){
        stroke: rgb(106, 76, 1)
      }
    }
  }
}


#bottom-floats{
	display: flex;
	visibility: hidden;
	position: fixed;
	bottom: 1.5rem;
	opacity: 0;
	width: 100dvw;
	max-width: 1200px;
	padding: 0 1rem;
	perspective: 300px;
	
	&.js {
		visibility: visible;
		opacity: 1;
		
		#cookies-policy {
			transform: none;
		}
	}
}

#cookies-policy {
	justify-content: space-between;
	width: 90%;
	max-width: max-content;
	box-shadow: 0 3px 5px -2px #9999;
	background-color: #ffffff;
	padding: 1rem;
	border-radius: .7rem;
	transform: rotateY(90deg) scale(90%);
	
	&, > div {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	
	svg{
		flex-shrink: 0;
	}

	svg[icon='cookie']{
		path:first-child{
			stroke: #0000;
		}
	}
}

main {
	padding: 0 2rem;
  background-color: #200;
}


section#profile-section{
	position: relative;
	display: flex;
	height: 100dvh;
	box-sizing: content-box;
	align-items: center;
	
	&::before {
		// content: '';
		position: absolute;
		inset: 10%;
		z-index: -1;
		background: linear-gradient(35deg, #5005 20%, #fff 20% 70%, #0005 80%);
		filter: blur(80px);
		animation: rotate-back 20s ease infinite alternate-reverse;
	}

	@keyframes rotate-back {
		to {
			transform: rotate(360deg);
			background-position: 7rem 9rem;
			background-size: 50%;
		}
	}
	.profile-back {
		flex: 1;
		background-image: linear-gradient(120deg, #eee, #fff0);
		border-radius: 4rem ;
		overflow: hidden;
		position: relative;
		z-index: -1;
	}
	
	.profile-text {
		flex: 1;
		height: 50%;
		display: grid;
		min-height: max-content;
		align-content: stretch;
		gap: 3rem;
		
		& > *{
			display: block
		}
		
		.name-available {
			
			.available {
				display: grid;
				box-shadow: -1px 2px 3px -1px #9993;
				background-image: linear-gradient(90deg, #fff8f8, #dfe);
				grid-template-columns: auto auto;
				gap: 1rem;

				width: min-content;
				justify-self: flex-start;
				align-items: center;
				padding: .2rem 1rem;
				// border: solid 1px #9993;
				border-radius: .7rem;
			}

			.available-pulse {
				display: block;
				position: relative;
				width: .9rem;
				height: .9rem;
				background-color: #0f0;
				border-radius: 50%;
				animation: available-pulse 300ms linear infinite alternate;
			}
		}
		
		h1 {
			text-align: start;
			font-family: 'FiraSans-extra-bold';
			margin-left: -6rem;
			font-size: 500%;
			background-image: linear-gradient(40deg, #111, var(--bean));
			background-clip: text;
			-webkit-backdrop-clip: text;
			-webkit-text-fill-color: transparent;
			// text
		}
		h2 {
			font-family: 'FiraSans-bold';
			text-align: center;
			font-size: 280%;
			margin-left: -8rem;
			color: #333;

		}
		.coding-junky{
			margin-top: -2rem;
			justify-self: end;
			display: block;

			div:first-child {
				display: inline;
				color: var(--cosmos);
				background-color: #eee;
				mix-blend-mode: normal;
				padding: 0 0 0 1rem;
			}
			div:last-child {
				display: inline;
				background-color: var(--cosmos);
				color: #eee; 
				padding: 0 1rem 0 0 ;
			}
		}
	}
}

@keyframes available-pulse {
	to {
		box-shadow: 0 0 0 4px #0f07;
	}
}

.scroll-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scale(150%);
	
	svg {
		width: 8rem;
		
		path.curve{	
			fill: #ddd;
			stroke-width: 0;
			// animation: path-down 1s ease-in-out infinite alternate;
		}

		.chevron-1 {
			stroke: #fff;
			stroke-width: .8px;
			animation: path1-down 700ms ease-in-out infinite alternate-reverse;
		}

		.chevron-2 {
			stroke: #fff;
			stroke-width: .8px;
			animation: path-down 700ms ease-in-out infinite alternate-reverse;
		}
	}
}

@keyframes path-down {
	to{
		transform: translateY(-.1rem);
	}
}
@keyframes path1-down {
	to{
		transform: translateY(-.2rem);
	}
}